{% extends "portal/base.html" %}
{% load static %}

{% block content %}
    <h1>Ο ιστοτοπος Agro Greece</h1>
    <p>
        Γιατι ιδρυσαμε τον ιστοτοπο AgroGreece?

        Αγοραζοντας απο την πηγη φροντιζουμε οχι μονο για ποιοτικα αγαθα αλλα και για να στηριξουμε την τοπικη οικονομια. 

        Υπαρχει ενα φαινομενο στην οικονομια. Ο κυκλος του χρηματος. 
        Δεν ειναι εοισημη οικονομικη θεωρια αλλα ειναι μια επιβεβαιωμενη πραγματικοτιτα. 
        Ισχυρη οικονομια ειναι οταν το χρημα κυκλοφορει μεσα στην τοπικη κοινωνια. Ετσι ενισχυονται ολοι. Οικονομια αρχηζει να εχει προβληματα οταν το χρημα φευγει απο την τοπικη κυκλοφορια. Αν τα λεφτα που εχω τα ξοδεψω σε παραγγελιες εξωτερικου, τοτε σε λιγο καιρο δεν θα υπαρχει η λαικη αγορα, η βιοτεχενια οπου δουλεψε η μητερα μου, θα κλεισει το περιπτερο και το καφενειο της γειτονιας.
    </p>
{% endblock content %}





