{% extends "portal/base.html" %}

{% block content %}
{% load static %}



    {% comment %} main  {% endcomment %}

    <div class="main">
        <section class="hero">
            <div class="intro">
                <div class="headline">
                    <h1>Αγροτικα προιοντα ποιοτητας. <br>
                         Απο τον παραγωγο στο τραπεζι σας.</h1>
                </div>
                <div class="subheadline">
                    <p>
                        Γνωριστε τα προιοντα που σας προσφερονται σε ασυναγωνιστες τιμες και ποιοτητα με την εγγυηση του παραγωγου. <br> Ενημερωθειτε για την παραγωγη, τιμες, συσκευασια και αποστολη.
                    </p>
                </div>
            </div>
            
            <div class="intro_img">
                <img src="{% static "/assets/img/olive-harvest.jpg" %}" alt="">
            </div>

            <a class="btn intro_img_btn" href="{% url "products:index" %}">
                Θελω να δω τα προιοντα.    
            </a>

        
        </section>

        <section class="visitors">
            <div class="benefit_item">
                <h2>Οι επισκεπτες μας..</h2>
                <h3>ΟΙ επισκεπτες μας ειναι ανθρωποι που ξερουν να διαλεγουν σωστα και ποιοτικα.</h3>
                    <p>
                        Το τραπεζι και το ποτο θελει καλη παρεα. Εμεις οι Ελληνες φημιζομαστε για την φιλοξενια απο αρχαιοτατων χρονων. Ο επισκεπτης μπορει να ηταν ο ιδιος ο Ζευς και θα επρεπε να τον υποδεχτουμε με τιμες και καλο φαι. Το καλο τραπεζι ομως δεν ειναι μονο το γιορτινο. Ειναι και το καθημερινο φαγητο που θα υπαρχει στο τραπεζι για τους αγαπημενους σας. Η σαλατα, το τυρακι, φαγητο κατσαρολας η φουρνου. Ισως μια τηγανια. Με κρασακι η τσιπουρο, με γλυκανισο η ανευ, για τους μερακλιδες. Ολα αυτα θελουν την καλυτερη πρωτη υλη που μπορουμε να βρουμε. Και τι καλυτερο απο αυτο που παραγη η μανα Γη και ο ανθρωπος που την καλλιεργει. Ο επισκεπτης θα μπορεσει να διαλεξει απο ποιον παραγωγο θα παρει τα προιοντα για το επομενο τραπεζι. Καθημερινο η εορταστικο. Διαλεξτε και αφηστε καποιο σχολιο για τα προιοντα που διαλεξατε και τον παραγωγο. <hr>
                         
                    </p>
           </div>
        </section>
        
        <section class="benefits">
           <div class="benefit_item">
                
                    <a href="{% url "products:producers" %}">
                        <h3> Γνωριστε τους Παραγωγους.</h3>   
                    </a>
                
                <p>
                    Οι ανθρωποι της γης. Οι ανθρωποι που φροντιζουν με αγαπη και μερακι τα χωραφια, τους καμπους και τους μπαχτσεδες. Απο την σπορα μεχρι τον τρυγο, απο το χωραφι μεχρι το τραπεζι σας. Οι συνεταιρισμοι και παραγωγικες μοναδες, οικοτχνειες, οινοποιοι και μελισσοκομοι, κτηνοτροφοι και τυροπαραγωγοι εχουν την ευκαιρια να σας προσφερουν ο,τι καλυτερο διαθετουν. 
                </p>
           </div>
           <div class="benefit_item">
            <a href="{% url "products:index" %}">
            <h3>Γνωριστε τα Προιοντα μας.</h3>
            </a>
            <p>
                Τα προιοντα που παρουσιαζονται ανοικουν σε μεγαλο φασμα παραγωγης της Ελληνικης φυσης. Απο οσπρια και σπιτικες χυλοπιτες, στο μελι πευκου και ανθων, τον αρωματικο οινο και το ευλογιμενο αποσταγμα του, ποικιλιες τυριων και κρεατικων, μπαχαρικα και ο υγρος χρυσος της Ελλαδος, το ελαιολαδο. Απο αρχαιοτατων χρονων η Ελλαδα φημιζοταν για την ποιοτητα, φιμη την οποια ακομα και σημερα υπερασπιζονται αξια οι παραγωγοι μας.
            </p>
           </div>
           
            
        </section>
        
        <section class="sosial">
        
        </section>
    </div>
    


{% endblock content %}