{% extends "portal/base.html" %}
{% load static %}

{% block content %}

<div class="page__container">

    <h1>More infor on : {{ producer.name }}</h1>

        <p class="item_image">
        <img src=" {% get_media_prefix %}{{ producer.image }}" alt="{{ producer.name }}">
        </p>
        <p>
        Ο {{ producer.name }} ζει και εργαζεται στη {{ producer.region }}.
    </p>

   
    <h4>
        Μπορειτε να ερθετε σε επαφη  με τους ακολουθους τροπους:{{ producer.contact }}
    </h4> 

    <h4>
        Ο {{ producer.name }} συμμετεχει στον ιστοτοπο απο {{ producer.registered|date:'Y-m-d' }}.
    </h4>

    <p>
        {% comment %} {{ product_count }} {% endcomment %}
        Στον ιστοτοπο μας ο {{ producer.name}}  παρουσιαζει 
        {% if product_count < 2 %}
        το εξης προιον 
        {% else %}
        τα εξης προιοντα
        {% endif %}
        <br>
        <div class="cards">
            {% for product in products %}
                <div class="card">
                    <p class="card_info">Περιγραφη: {{ product.p_desc }}</p>
                    <p class="card_info">Τιμη: €{{ product.price }}</p>
                    <p class="card_info_date">Ο Προστεθηκε: {{ product.published|date:'d-m-Y' }}</p>
                    <p class="item_image">
                        <img src=" {% get_media_prefix %}{{ product.p_img }}" alt="{{ product.name }}">
                    </p>
                    <a href="{% url "products:product_detail" product.id %}">Περισσοτερες πληροφοριες...</a>
                </div>
            {% endfor %}
        </div>
    </p>
</div>
{% endblock content %}