{% extends "portal/base.html" %}
{% load static %}

{% block content %}

<div class="page__container">
    {% if query %}
        <h1>Product containing "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Found {{ total_results }} result{{total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for product in results %}
            <h4>
                <a href="{{ product.get_absolute_url }}">{{ product.p_name }}</a>
            </h4>
            <p>
                by {{ product.producer}}
            </p>
            {{ product.p_desc|truncatewords_html:12 }}
            <hr>
            {% empty %}
                <p>
                    There are no results for your query.
                </p>
        {% endfor %}
        <p>
            <a href="{% url "products:product_search" %}">Search again</a>
        </p>
    {% else %}
        <h1>Search for products</h1>
        <form method="get">
            {% comment %} {% csrf_token %} {% endcomment %}
            {{ form.as_p }}
            <input type="submit" value="Search">
        </form>
    {% endif %}

</div>
{% endblock content %}